body{
    overflow: hidden;
    height: 100vh;
    background-color: black;   
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding:32px 24px ;
    font-family: 'Roboto' , sans-serif;
}
body::after{
    position: absolute;
    display: block;
    background-color: black;
    inset: 0;
    z-index: -1;
}
header{
    margin-top: 100px;
    margin-left: 500px;
    height: 150px;
}
main{
    margin-left: 800px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    width: 1000px;
    font-size: 25px;
    font-family: "Italiana", sans-serif;}
.conteudo-container{
    color:white;
    justify-content: center;

}
.conteudo-container h1{
    width: 300px;
    align-content: center;
}
.conteudo-container p{
    align-content: center;
    width: 300px;
}
main h3{
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    
}
.cadastro{
    flex-grow: 1;
    align-items: center;
    justify-content: start;
    display: flex;
    width: 75vw;
}
input{
    color:black;
    width: 100vw;
    background: transparent;
    border-color: transparent;
    height: 40px;
}
::placeholder{
    color:black;
}
footer{
    gap: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
button{
    background-color:#6D5F5F;
    color:black;
    border-radius: 0.5cm;
    width: 300px;
}
.botao{
    height: 50px;
    font-family: "Italiana", sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}
.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  